[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rx = "*"

[dev-packages]
httmock = "*"
httpretty = "*"
pipenv = "*"
twine = "*"

[requires]
python_version = "3.7"
